{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/forms/login.css') }}">
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1>Changer de mot de passe</h1>

    {% for error in form.vars.errors %}
        <div class="error">{{ error.message }}</div>
    {% endfor %}

    {{ form_row(form.plainPassword.first) }}

    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Changer le mot de passe</button>

    {{ form_end(form) }}
{% endblock %}
