{% extends 'base.html.twig' %}

{% block title %}Suivi activité{% endblock %}

{% block body %}
    {% include 'partials/year-filter.html.twig' %}

    <div class="suivi-container">
        {% include 'partials/filters.html.twig' %}

        <div class="activite-infos">
            <p>Tous prix indiqués HT</p>
        </div>

        <div class="container" data-ajax-results>
            <div class="table-wrapper">
                <table data-activity-table>
                    <thead>
                    <tr>
                        <th class="sticky-salarie-name">Contrôleur</th>
                        <th class="sticky-salarie-agr">Agrément</th>
                        <th data-activity-column data-type-family="VTP" data-vehicle-family="VL">VTP</th>
                        <th data-activity-column data-type-family="VTP" data-vehicle-family="CL">CLVTP</th>
                        <th data-activity-column data-type-family="CV" data-vehicle-family="VL">CV</th>
                        <th data-activity-column data-type-family="CV" data-vehicle-family="CL">CLCV</th>
                        <th data-activity-column data-type-family="VTC" data-vehicle-family="VL">VTC</th>
                        <th data-activity-column data-type-family="VOL" data-vehicle-family="VL">VOL</th>
                        <th data-activity-column data-type-family="VOL" data-vehicle-family="CL">CLVOL</th>
                        <th>Total</th>
                        <th data-activity-column data-type-family="VTP" data-vehicle-family="VL">CA VTP</th>
                        <th data-activity-column data-type-family="VTP" data-vehicle-family="CL">CA CLVTP</th>
                        <th data-activity-column data-type-family="CV" data-vehicle-family="VL">CA CV</th>
                        <th data-activity-column data-type-family="CV" data-vehicle-family="CL">CA CLCV</th>
                        <th data-activity-column data-type-family="VTC" data-vehicle-family="VL">CA VTC</th>
                        <th data-activity-column data-type-family="VOL" data-vehicle-family="VL">CA VOL</th>
                        <th data-activity-column data-type-family="VOL" data-vehicle-family="CL">CA CLVOL</th>
                        <th>Total CA</th>
                        <th data-activity-column data-type-family="VTP" data-vehicle-family="VL">Prix VTP</th>
                        <th data-activity-column data-type-family="VTP" data-vehicle-family="CL">Prix CLVTP</th>
                        <th data-activity-column data-type-family="CV" data-vehicle-family="VL">Prix CV</th>
                        <th data-activity-column data-type-family="CV" data-vehicle-family="CL">Prix CLCV</th>
                        <th data-activity-column data-type-family="VTC" data-vehicle-family="VL">Prix VTC</th>
                        <th data-activity-column data-type-family="VOL" data-vehicle-family="VL">Prix VOL</th>
                        <th data-activity-column data-type-family="VOL" data-vehicle-family="CL">Prix CLVOL</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% set lastSociete = null %}
                    {% set lastCentre = null %}

                    {% for societe, centres in synthese %}
                        {% set lastCentre = null %}

                        {% for agrCentre, centreData in centres %}
                            {% for salarie in centreData.salaries %}
                                <tr>
                                    <td class="sticky-salarie-name">{{ salarie.nom }} {{ salarie.prenom }}</td>
                                    <td class="sticky-salarie-agr">
                                        {{ salarie.agr }}
                                        {% if salarie.agr_cl is not empty %}
                                            - {{ salarie.agr_cl }}
                                        {% endif %}
                                    </td>
                                    <td class="int-row" data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ salarie.nb_vtp }}</td>
                                    <td class="int-row" data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ salarie.nb_clvtp }}</td>
                                    <td class="int-row" data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ salarie.nb_cv }}</td>
                                    <td class="int-row" data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ salarie.nb_clcv }}</td>
                                    <td class="int-row" data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ salarie.nb_vtc }}</td>
                                    <td class="int-row" data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ salarie.nb_vol }}</td>
                                    <td class="int-row" data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ salarie.nb_clvol }}</td>
                                    <td class="int-row total">{{ salarie.nb_controles }}</td>
                                    <td class="int-row" data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ salarie.total_ht_vtp | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ salarie.total_ht_clvtp | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ salarie.total_ht_cv | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ salarie.total_ht_clcv | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ salarie.total_ht_vtc | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ salarie.total_ht_vol | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ salarie.total_ht_clvol | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row total">{{ salarie.total_presta_ht | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ salarie.prix_moyen_vtp | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ salarie.prix_moyen_clvtp | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ salarie.prix_moyen_cv | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ salarie.prix_moyen_clcv | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ salarie.prix_moyen_vtc | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ salarie.prix_moyen_vol | number_format(2, ',', ' ') }}€</td>
                                    <td class="int-row" data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ salarie.prix_moyen_clvol | number_format(2, ',', ' ') }}€</td>
                                </tr>
                            {% endfor %}

                            <tr class="total-row recap">
                                <td colspan="2" class="sticky-centre total">
                                    {{ centreData.centre.reseau }} {{ centreData.centre.ville }} {{ agrCentre }}
                                    {% if centreData.centre.agr_cl is not empty %}
                                        - {{ centreData.centre.agr_cl }}
                                    {% endif %}
                                </td>
                                <td data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ centreData.totaux.nb_vtp }}</td>
                                <td data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ centreData.totaux.nb_clvtp }}</td>
                                <td data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ centreData.totaux.nb_cv }}</td>
                                <td data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ centreData.totaux.nb_clcv }}</td>
                                <td data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ centreData.totaux.nb_vtc }}</td>
                                <td data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ centreData.totaux.nb_vol }}</td>
                                <td data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ centreData.totaux.nb_clvol }}</td>
                                <td class="total">{{ centreData.totaux.nb_controles }}</td>
                                <td data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ centreData.totaux.ca_total_ht_vtp | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ centreData.totaux.ca_total_ht_clvtp | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ centreData.totaux.ca_total_ht_cv | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ centreData.totaux.ca_total_ht_clcv | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ centreData.totaux.ca_total_ht_vtc | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ centreData.totaux.ca_total_ht_vol | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ centreData.totaux.ca_total_ht_clvol | number_format(2, ',', ' ') }}€</td>
                                <td class="total">{{ centreData.totaux.ca_total_ht | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ centreData.totaux.prix_moyen_vtp | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ centreData.totaux.prix_moyen_clvtp | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ centreData.totaux.prix_moyen_cv | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ centreData.totaux.prix_moyen_clcv | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ centreData.totaux.prix_moyen_vtc | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ centreData.totaux.prix_moyen_vol | number_format(2, ',', ' ') }}€</td>
                                <td data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ centreData.totaux.prix_moyen_clvol | number_format(2, ',', ' ') }}€</td>
                            </tr>

                        {% endfor %}

                        {% set societeTotal = societeTotals[societe] ?? null %}
                        {% if societeTotal %}
                        <tr class="total-row recap societe">
                            <td class="sticky-societe" colspan="2">{{ societe }}</td>
                            <td data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ societeTotal.nb_vtp }}</td>
                            <td data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ societeTotal.nb_clvtp }}</td>
                            <td data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ societeTotal.nb_cv }}</td>
                            <td data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ societeTotal.nb_clcv }}</td>
                            <td data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ societeTotal.nb_vtc }}</td>
                            <td data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ societeTotal.nb_vol }}</td>
                            <td data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ societeTotal.nb_clvol }}</td>
                            <td>{{ societeTotal.nb_controles }}</td>
                            <td data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ societeTotal.ca_total_ht_vtp | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ societeTotal.ca_total_ht_clvtp | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ societeTotal.ca_total_ht_cv | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ societeTotal.ca_total_ht_clcv | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ societeTotal.ca_total_ht_vtc | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ societeTotal.ca_total_ht_vol | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ societeTotal.ca_total_ht_clvol | number_format(2, ',', ' ') }}€</td>
                            <td>{{ societeTotal.ca_total_ht | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ societeTotal.prix_moyen_vtp | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ societeTotal.prix_moyen_clvtp | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ societeTotal.prix_moyen_cv | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ societeTotal.prix_moyen_clcv | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ societeTotal.prix_moyen_vtc | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ societeTotal.prix_moyen_vol | number_format(2, ',', ' ') }}€</td>
                            <td data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ societeTotal.prix_moyen_clvol | number_format(2, ',', ' ') }}€</td>
                        </tr>
                        {% endif %}
                    {% endfor %}

                    {% if globalTotals is defined %}
                    <tr class="total-row global recap">
                        <td class="sticky-total" colspan="2">
                            TOUS RESEAUX / SOCIETES
                        </td>
                        <td data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ globalTotals.nb_vtp }}</td>
                        <td data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ globalTotals.nb_clvtp }}</td>
                        <td data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ globalTotals.nb_cv }}</td>
                        <td data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ globalTotals.nb_clcv }}</td>
                        <td data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ globalTotals.nb_vtc }}</td>
                        <td data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ globalTotals.nb_vol }}</td>
                        <td data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ globalTotals.nb_clvol }}</td>
                        <td>{{ globalTotals.nb_controles }}</td>
                        <td data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ globalTotals.ca_total_ht_vtp | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ globalTotals.ca_total_ht_clvtp | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ globalTotals.ca_total_ht_cv | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ globalTotals.ca_total_ht_clcv | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ globalTotals.ca_total_ht_vtc | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ globalTotals.ca_total_ht_vol | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ globalTotals.ca_total_ht_clvol | number_format(2, ',', ' ') }}€</td>
                        <td>{{ globalTotals.ca_total_ht | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="VTP" data-vehicle-family="VL">{{ globalTotals.prix_moyen_vtp | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="VTP" data-vehicle-family="CL">{{ globalTotals.prix_moyen_clvtp | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="CV" data-vehicle-family="VL">{{ globalTotals.prix_moyen_cv | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="CV" data-vehicle-family="CL">{{ globalTotals.prix_moyen_clcv | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="VTC" data-vehicle-family="VL">{{ globalTotals.prix_moyen_vtc | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="VOL" data-vehicle-family="VL">{{ globalTotals.prix_moyen_vol | number_format(2, ',', ' ') }}€</td>
                        <td data-activity-column data-type-family="VOL" data-vehicle-family="CL">{{ globalTotals.prix_moyen_clvol | number_format(2, ',', ' ') }}€</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
