{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/dashboard/dashboard.css') }}">
{% endblock %}

{% block body %}
    <div class="dashboard-container">
        <h1>Bonjour {{ user.username }} !</h1>

        <p>Bienvenue sur votre tableau de bord.</p>

        <div class="app-container">
            <a href="{{ path('import_csv') }}" class="app">
                Import de fichiers
            </a>

            <a href="{{ path('app_home') }}" class="app">
                Statistiques
            </a>

            <a href="{{ path('app_home') }}" class="app">
                Application 1
            </a>

            <a href="{{ path('app_home') }}" class="app">
                Application 2
            </a>

            <a href="{{ path('app_home') }}" class="app">
                Application au nom super long pour vérifier que ça tient correctement
            </a>
        </div>
    </div>
{% endblock %}
