{% extends 'base.html.twig' %}

{% block title %}Liste des salariés{% endblock %}

{% block body %}
    <h1>Liste des salariés</h1>

    <div class="container">
        <div class="table-wrapper">
            <table class="salaries-list">
                <thead>
                <tr>
                    <th>Société</th>
                    <th>Agrément</th>
                    <th>Agrément CL</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Échelons</th>
                    <th>Salaire brut</th>
                    <th>Nb heures</th>
                    <th>Veste</th>
                    <th>Polaire</th>
                    <th>Pantalon</th>
                    <th>Tee-shirt</th>
                    <th>Polo</th>
                    <th>Chaussures</th>
                    <th>Actif</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for salarie in salaries %}
                    {{ form_start(forms[salarie.id], {'action': path('app_salaries_update', {'id': salarie.id}), 'method': 'POST', 'attr': {'data-turbo': 'false'}}) }}
                    {{ form_errors(forms[salarie.id]) }}

                    <tr>
                        <td>{{ form_widget(forms[salarie.id].societe) }}</td>
                        <td>{{ form_widget(forms[salarie.id].agrControleur) }}</td>
                        <td>{{ form_widget(forms[salarie.id].agrClControleur) }}</td>
                        <td>{{ form_widget(forms[salarie.id].nom) }}</td>
                        <td>{{ form_widget(forms[salarie.id].prenom) }}</td>
                        <td>{{ form_widget(forms[salarie.id].dateNaissance) }}</td>
                        <td>{{ form_widget(forms[salarie.id].email) }}</td>
                        <td>{{ form_widget(forms[salarie.id].telephone) }}</td>
                        <td>{{ form_widget(forms[salarie.id].echelons) }}</td>
                        <td>{{ form_widget(forms[salarie.id].salaireBrut) }}</td>
                        <td>{{ form_widget(forms[salarie.id].nbHeures) }}</td>
                        <td>{{ form_widget(forms[salarie.id].vesteMancheAmovible) }}</td>
                        <td>{{ form_widget(forms[salarie.id].polaire) }}</td>
                        <td>{{ form_widget(forms[salarie.id].pantalon) }}</td>
                        <td>{{ form_widget(forms[salarie.id].teeShirts) }}</td>
                        <td>{{ form_widget(forms[salarie.id].polo) }}</td>
                        <td>{{ form_widget(forms[salarie.id].chaussures) }}</td>
                        <td>{{ form_widget(forms[salarie.id].isActive) }}</td>
                        <td>
                            <button type="submit" disabled>Enregistrer</button>
                        </td>
                    </tr>
                    {{ form_end(forms[salarie.id]) }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
