{% extends 'base.html.twig' %}

{% block title %}Liste des salariés{% endblock %}

{% block body %}
    <div class="container">
        <div class="table-wrapper">
            <table class="salaries-list">
                <thead>
                <tr>
                    <th>Société</th>
                    <th>Agr</th>
                    <th>Agr CL</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Échelons</th>
                    <th>Salaire</th>
                    <th>Heures</th>
                    <th>Veste</th>
                    <th>Polaire</th>
                    <th>Pantalon</th>
                    <th>Tee-shirt</th>
                    <th>Polo</th>
                    <th>Chaussures</th>
                    <th>Actif</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for salarie in salaries %}
                    {% set formId = 'salarie-form-' ~ salarie.id %}

                    <tr>
                        <td>{{ form_widget(forms[salarie.id].societe, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].agrControleur, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].agrClControleur, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].nom, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].prenom, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].dateNaissance, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].email, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].telephone, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].echelons, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].salaireBrut, {'attr': {'form': formId}}) }} €</td>
                        <td>{{ form_widget(forms[salarie.id].nbHeures, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].vesteMancheAmovible, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].polaire, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].pantalon, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].teeShirts, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].polo, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].chaussures, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[salarie.id].isActive, {'attr': {'form': formId}}) }}</td>
                        <td>
                            {{ form_start(forms[salarie.id], {
                                'action': path('app_salaries_update', {'id': salarie.id}),
                                'method': 'POST',
                                'attr': {'data-turbo': 'false', 'id': formId}
                            }) }}
                            {{ form_errors(forms[salarie.id]) }}
                            <button type="submit" disabled form="{{ formId }}">Enregistrer</button>
                            {{ form_end(forms[salarie.id]) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
