{% extends 'cts/lists/print/_base.html.twig' %}

{% block content %}
    <div class="table-wrapper" data-print-fit="1">
        <table class="print-list-table voitures-print">
            <thead>
            <tr>
                <th>Société</th>
                <th>Centre</th>
                <th>Immatriculation</th>
                <th>Marque</th>
                <th>Couleur</th>
                <th>Modèle</th>
                <th>Flocable</th>
                <th>Année</th>
                <th>Contrôle technique</th>
                <th>Kilométrage</th>
                <th>Prix</th>
                <th>Carte grise</th>
                <th>Lieu</th>
                <th>Utilisateur</th>
                <th>Remarques</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            {% for voiture in voitures %}
                <tr>
                    <td>{{ voiture.societe ? voiture.societe.nom : '' }}</td>
                    <td>
                        {% if voiture.centre %}
                            {{ (voiture.centre.reseauNom ? voiture.centre.reseauNom ~ ' ' : '') ~ (voiture.centre.ville ?? '') }}
                        {% endif %}
                    </td>
                    <td class="centered">{{ voiture.immatriculation }}</td>
                    <td class="centered">{{ voiture.marque }}</td>
                    <td class="centered">{{ voiture.couleur }}</td>
                    <td class="centered">{{ voiture.modele }}</td>
                    <td class="{{ voiture.flocable ? 'increased' : 'decreased' }} centered">{{ voiture.flocable ? '✓' : '✕' }}</td>
                    <td class="centered">{{ voiture.annee }}</td>
                    <td class="centered">{{ voiture.controleTechnique ? voiture.controleTechnique|date('d/m/Y') : '' }}</td>
                    <td class="right">{{ voiture.km }}</td>
                    <td class="right">{{ voiture.prix ? voiture.prix : '---' }} €</td>
                    <td class="centered">{{ voiture.carteGrise }}</td>
                    <td>{{ voiture.lieu }}</td>
                    <td>{{ voiture.utilisateur }}</td>
                    <td>{{ voiture.remarques }}</td>
                    <td class="{{ voiture.active ? 'increased' : 'decreased' }} centered">{{ voiture.active ? '✓' : '✕' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

