<form id="societes-bulk-form"
      method="post"
      data-turbo="false"
      action="{{ path('app_societes_bulk_update', {'q': app.request.query.get('q')}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('societes_bulk') }}">

    <table class="societes-list" data-bulk-edit="1">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Siège social</th>
            <th>SIREN</th>
            <th>Numéro de TVA</th>
        </tr>
        </thead>
        <tbody>
        {% for societe in societes %}
            {% set rowId = societe.id %}
            <tr>
                <td><input type="text" name="changes[{{ rowId }}][nom]" value="{{ societe.nom }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][siegeSocial]" value="{{ societe.siegeSocial }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][siren]" value="{{ societe.siren }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][numTva]" value="{{ societe.numTva }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
