<form id="centres-bulk-form"
      method="post"
      data-turbo="false"
      action="{{ path('app_centres_bulk_update', {'q': app.request.query.get('q')}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('centres_bulk') }}">

    <table class="centres-list" data-bulk-edit="1">
        <thead>
        <tr>
            <th>Société</th>
            <th>Réseau</th>
            <th>Enseigne</th>
            <th>Agrément VL</th>
            <th>Agrément CL</th>
            <th>Coordonnées</th>
            <th>CP</th>
            <th>Ville</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Mdp email</th>
            <th>Site web</th>
            <th>SIRET</th>
            <th>Date de reprise</th>
        </tr>
        </thead>
        <tbody>
        {% for centre in centres %}
            {% set rowId = centre.id %}
            <tr>
                <td>
                    <select name="changes[{{ rowId }}][societe]" class="reseau-uppercase">
                        <option value="">- Choisir -</option>
                        {% for so in societes %}
                            <option value="{{ so.id }}" {{ so.id == centre.societe.id ? 'selected' : '' }}>{{ so.nom }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="changes[{{ rowId }}][reseau]" class="reseau-uppercase">
                        <option value="">- Choisir -</option>
                        {% for r in reseaux %}
                            <option value="{{ r.id }}" {{ r.id == centre.reseau.id ? 'selected' : '' }}>{{ r.nom }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="text" name="changes[{{ rowId }}][reseauNom]" value="{{ centre.reseauNom }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][agrCentre]" class="reseau-uppercase" value="{{ centre.agrCentre }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][agrClCentre]" class="reseau-uppercase" value="{{ centre.agrClCentre }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][coordonnees]" value="{{ centre.coordonnees }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][cp]" value="{{ centre.cp }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][ville]" value="{{ centre.ville }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][telephone]" value="{{ centre.telephone }}"></td>
                <td><input type="email" name="changes[{{ rowId }}][email]" value="{{ centre.email }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][mailPassword]" value="{{ centre.mailPassword }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][siteWeb]" value="{{ centre.siteWeb }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][numSiret]" value="{{ centre.numSiret }}"></td>
                <td><input type="text" name="changes[{{ rowId }}][dateReprise]" value="{{ centre.dateReprise }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
