{% extends 'base.html.twig' %}

{% block title %}Ajouter un centre{% endblock %}

{% block body %}
    {% set errors = [] %}

    {# erreurs globales #}
    {% for error in form.vars.errors %}
        {% set errors = errors|merge(['[Global] ' ~ error.message]) %}
    {% endfor %}

    {# erreurs des champs #}
    {% for child in form %}
        {% for error in child.vars.errors %}
            {% set errors = errors|merge([child.vars.label ~ error.message]) %}
        {% endfor %}

        {# si le champ a des enfants (ex: collection ou subform) #}
        {% if child is iterable %}
            {% for sub in child %}
                {% for error in sub.vars.errors %}
                    {% set errors = errors|merge([sub.vars.label ~ error.message]) %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {# affichage #}
    {% if errors|length > 0 %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="form-wrapper">
        <small class="required-inputs">Les champs marqués d'un * sont obligatoires.</small><br><br>

        {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}

        <div>
            {{ form_label(form.societe) }}
            {{ form_widget(form.societe) }}
        </div>

        <div>
            {{ form_label(form.reseau) }}
            {{ form_widget(form.reseau) }}
        </div>

        <div>
            {{ form_label(form.reseauNom) }}
            {{ form_widget(form.reseauNom) }}
        </div>

        <div>
            {{ form_label(form.agrCentre) }}
            {{ form_widget(form.agrCentre) }}
        </div>

        <div>
            {{ form_label(form.agrClCentre) }}
            {{ form_widget(form.agrClCentre) }}
        </div>

        <div>
            {{ form_label(form.coordonnees) }}
            {{ form_widget(form.coordonnees) }}
        </div>

        <div>
            {{ form_label(form.cp) }}
            {{ form_widget(form.cp) }}
        </div>

        <div>
            {{ form_label(form.ville) }}
            {{ form_widget(form.ville) }}
        </div>

        <div>
            {{ form_label(form.telephone) }}
            {{ form_widget(form.telephone) }}
        </div>

        <div>
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div>
            {{ form_label(form.siteWeb) }}
            {{ form_widget(form.siteWeb) }}
        </div>

        <div>
            {{ form_label(form.numSiret) }}
            {{ form_widget(form.numSiret) }}
        </div>

        {{ form_rest(form) }}
        <button type="submit">Enregistrer</button>
        {{ form_end(form, { render_rest: false }) }}
    </div>
{% endblock %}
