{% extends 'base.html.twig' %}

{% block title %}Liste des centres{% endblock %}

{% block body %}
    <div class="container">
        <div class="table-wrapper">
            <table class="centres-list">
                <thead>
                <tr>
                    <th>Société</th>
                    <th>Réseau</th>
                    <th>Enseigne</th>
                    <th>Agrément</th>
                    <th>Agrément CL</th>
                    <th>Coordonnées</th>
                    <th>CP</th>
                    <th>Ville</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Site web</th>
                    <th>SIRET</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for centre in centres %}
                    {% set formId = 'centre-form-' ~ centre.id %}

                    <tr>
                        <td>{{ form_widget(forms[centre.id].societe, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[centre.id].reseau, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[centre.id].reseauNom, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[centre.id].agrCentre, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[centre.id].agrClCentre, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[centre.id].coordonnees, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[centre.id].cp, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[centre.id].ville, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[centre.id].telephone, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[centre.id].email, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[centre.id].siteWeb, {'attr': {'form': formId}}) }}</td>
                        <td>{{ form_widget(forms[centre.id].numSiret, {'attr': {'form': formId}}) }}</td>
                        <td>
                            {{ form_start(forms[centre.id], {
                                'action': path('app_centres_update', {'id': centre.id}),
                                'method': 'POST',
                                'attr': {'data-turbo': 'false', 'id': formId}
                            }) }}
                            {{ form_errors(forms[centre.id]) }}
                            <button type="submit" disabled form="{{ formId }}">Enregistrer</button>
                            {{ form_end(forms[centre.id]) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% set errorsMessages = app.flashes('error') %}
    {% if errorsMessages is not empty %}
        <div id="modal" class="modal-overlay" data-controller="modals" data-modals-target="overlay">
            <div class="modal error-modal" data-modals-target="modal">
                <h3>Erreurs détectées</h3>
                <ul>
                    {% for error in errorsMessages %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% set successMessages = app.flashes('success') %}
    {% if successMessages is not empty %}
        <div id="modal" class="modal-overlay" data-controller="modals" data-modals-target="overlay">
            <div class="modal success-modal" data-modals-target="modal">
                <h2>Succès</h2>

                {% for message in successMessages %}
                    <p>{{ message }}</p>
                {% endfor %}

                <button id="close-modal" data-action="click->modals#hide">OK</button>
            </div>
        </div>
    {% endif %}

    {% set warningMessages = app.flashes('warning') %}
    {% if warningMessages is not empty %}
        <div id="modal" class="modal-overlay" data-controller="modals" data-modals-target="overlay">
            <div class="modal error-modal" data-modals-target="modal">
                <h2>Attention</h2>

                {% for message in warningMessages %}
                    <p>{{ message }}</p>
                {% endfor %}

                <button id="close-modal" data-action="click->modals#hide">OK</button>
            </div>
        </div>
    {% endif %}
{% endblock %}
