{% extends 'cts/suivis/print/_base.html.twig' %}

{% set printTitle = type == 'immobilier' ? 'Encours bancaires - Immobilier' : 'Encours bancaires - Exploitations' %}
{% set printOrientation = 'landscape' %}
{% set autoPrint = true %}
{% set printVariant = 'encours' %}

{% block content %}
    <div class="table-wrapper" data-print-fit="1">
        <table data-activity-table>
            <thead>
            <tr>
                <th>Société</th>
                <th>Centre</th>

                {% for annee in anneesAffichees|default(annees) %}
                    <th>Solde {{ annee }}</th>
                {% endfor %}

                <th>Banque</th>
                <th>Emprunt</th>
                <th>Date</th>
                <th>Garanties</th>
            </tr>
            </thead>

            <tbody>
            {% for societeNom, groupe in groupes %}
                {% for ligne in groupe.lignes %}
                    <tr>
                        {% if loop.first %}
                            <td rowspan="{{ groupe.lignes|length }}">
                                {{ societeNom }}
                            </td>
                        {% endif %}

                        <td>{{ ligne.centre }}</td>

                        {% for annee in anneesAffichees|default(annees) %}
                            {% set montant = ligne.montants[annee]|default(null) %}
                            <td class="int-row">
                                {% if montant is not null %}
                                    {{ montant|number_format(2, ',', ' ') }} €
                                {% endif %}
                            </td>
                        {% endfor %}

                        <td>{{ ligne.banque }}</td>

                        {% set emprunt = ligne.emprunt|default(null) %}
                        <td class="int-row">
                            {% if emprunt is not null %}
                                {{ emprunt|number_format(2, ',', ' ') }} €
                            {% endif %}
                        </td>

                        <td>{{ ligne.date }}</td>
                        <td>{{ ligne.garanties }}</td>
                    </tr>
                {% endfor %}

                <tr class="total-row recap societe">
                    <td class="sticky-societe">{{ societeNom }}</td>
                    <td>TOTAL ENCOURS</td>

                    {% for annee in anneesAffichees|default(annees) %}
                        {% set total = groupe.totauxParAnnee[annee]|default(0) %}
                        <td class="int-row">
                            {{ total|number_format(2, ',', ' ') }} €
                        </td>
                    {% endfor %}

                    <td colspan="4"></td>
                </tr>
            {% endfor %}

            {% if globalTotalsParAnnee is defined %}
                <tr class="total-row global recap">
                    <td class="sticky-total" colspan="2">TOTAL DES ENCOURS</td>

                    {% for annee in anneesAffichees|default(annees) %}
                        {% set total = globalTotalsParAnnee[annee]|default(0) %}
                        <td class="int-row">
                            {{ total|number_format(2, ',', ' ') }} €
                        </td>
                    {% endfor %}

                    <td colspan="4"></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

