{% extends 'base.html.twig' %}

{% block title %}Liste des voitures{% endblock %}

{% block body %}
    <div class="container">
        <div class="table-wrapper">
            <table class="voitures-list">
                <thead>
                <tr>
                    <th>Société</th>
                    <th>Centre</th>
                    <th>Immatriculation</th>
                    <th>Marque</th>
                    <th>Couleur</th>
                    <th>Modèle</th>
                    <th>Flocable</th>
                    <th>Année</th>
                    <th>Contrôle technique</th>
                    <th>Kilométrage</th>
                    <th>Prix</th>
                    <th>Carte grise</th>
                    <th>Lieu</th>
                    <th>Utilisateur</th>
                    <th>Remarques</th>
                    <th>Active ?</th>
                </tr>
                </thead>
                <tbody>
                {% for voiture in voitures %}
                    {% if voiture.centre %}
                        {% set centre = voiture.centre.reseauNom ~ ' ' ~ voiture.centre.ville %}
                    {% else %}
                        {% set centre = '' %}
                    {% endif %}

                    <tr>
                        <td>{{ voiture.societe.nom }}</td>
                        <td>{{ centre }}</td>
                        <td>{{ voiture.immatriculation }}</td>
                        <td>{{ voiture.marque }}</td>
                        <td>{{ voiture.couleur }}</td>
                        <td>{{ voiture.modele }}</td>
                        <td>{{ voiture.flocable ? 'OUI' : 'NON' }}</td>
                        <td>{{ voiture.annee }}</td>
                        <td>{{ voiture.controleTechnique|date('d/m/Y') }}</td>
                        <td>{{ voiture.km }}</td>
                        <td>{{ voiture.prix }}</td>
                        <td>{{ voiture.carteGrise }}</td>
                        <td>{{ voiture.lieu }}</td>
                        <td>{{ voiture.utilisateur }}</td>
                        <td>{{ voiture.remarques }}</td>
                        <td>{{ voiture.active == 1 ? 'OUI' : 'NON' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    {% set errorsMessages = app.flashes('error') %}
    {% if errorsMessages is not empty %}
        <div id="modal" class="modal-overlay" data-controller="modals" data-modals-target="overlay">
            <div class="modal error-modal" data-modals-target="modal">
                <h3>Erreurs détectées</h3>
                <ul>
                    {% for error in errorsMessages %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% set successMessages = app.flashes('success') %}
    {% if successMessages is not empty %}
        <div id="modal" class="modal-overlay" data-controller="modals" data-modals-target="overlay">
            <div class="modal success-modal" data-modals-target="modal">
                <h2>Succès</h2>

                {% for message in successMessages %}
                    <p>{{ message }}</p>
                {% endfor %}

                <button id="close-modal" data-action="click->modals#hide">OK</button>
            </div>
        </div>
    {% endif %}

    {% set warningMessages = app.flashes('warning') %}
    {% if warningMessages is not empty %}
        <div id="modal" class="modal-overlay" data-controller="modals" data-modals-target="overlay">
            <div class="modal error-modal" data-modals-target="modal">
                <h2>Attention</h2>

                {% for message in warningMessages %}
                    <p>{{ message }}</p>
                {% endfor %}

                <button id="close-modal" data-action="click->modals#hide">OK</button>
            </div>
        </div>
    {% endif %}
{% endblock %}
