<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ker-Milo - {% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('favicon.png') }}">

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

    {{ include('partials/stylesheets.html.twig') }}

    {% block stylesheets %}
    {% endblock %}
</head>

<body>
<header>
    {{ include('partials/nav.html.twig') }}
</header>

<main>
    <div class="loader" id="loader">
        <div class="spinner"></div>
        <p>Chargement...</p>
    </div>

    <div class="loading-content" id="loadingContent">
        {% block body %}{% endblock %}
    </div>
</main>

<script src="{{ asset('js/filters.js') }}" type="module"></script>
<script src="{{ asset('js/clients_pros.js') }}" type="module"></script>
<script src="{{ asset('js/centres_list.js') }}" type="module"></script>
<script src="{{ asset('js/societes_list.js') }}" type="module"></script>
<script src="{{ asset('js/salaries_list.js') }}" type="module"></script>
<script src="{{ asset('js/loader.js') }}"></script>
</body>
</html>
