<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ker-Milo - {% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="{{ asset('styles/forms/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/modals/modals.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/suivi/suivi.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/suivi/filters.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/tables/tables.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/users/users.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/dashboard/dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/loader/loader.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/suivi/synthese.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/forms/salaries.css') }}">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
<header>
    <nav data-controller="burger">
        <div class="burger-container" data-action="click->burger#menu" data-burger-target="container">
            <div class="burgerBtn">
                <span id="burger" data-burger-target="burger"></span>
            </div>
        </div>

        <div id="responsive" data-burger-target="menu">
            {% if is_granted('IS_AUTHENTICATED') %}
                <h3>{{ user.username }}</h3>
                <h3>
                    {% if ('ROLE_ADMIN' in user.roles) %}
                        Administrateur
                    {% else %}
                        Utilisateur
                    {% endif %}
                </h3>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <h2>ESPACE ADMIN</h2>
                <h3>Utilisateurs</h3>
                <ul>
                    <li>
                        <a href="{{ path('app_users_list') }}">
                            → Liste des utilisateurs
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_users_add') }}">
                            → Ajouter un utilisateur
                        </a>
                    </li>
                </ul>

                <h3>Salariés</h3>
                <ul>
                    <li>
                        <a href="{{ path('app_salaries_list') }}">
                            → Liste des salariés
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_salaries_add') }}">
                            → Ajouter un salarié
                        </a>
                    </li>
                </ul>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED') %}
                <h2>Suivis</h2>
                <ul>
                    <li>
                        <a href="{{ path('app_suivi_activite') }}">
                            → Synthèse
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_suivi_controleurs') }}">
                            → Contrôleurs
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_suivi_focus_pro') }}">
                            → Professionnels
                        </a>
                    </li>
                </ul>

                <h2>COMPTE</h2>
                <ul>
                    <li>
                        <a href="{{ path('app_profile', { id: app.user.id }) }}">
                            → Profil
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">
                            → Se déconnecter
                        </a>
                    </li>
                </ul>
            {% else %}
                <ul>
                    <li>
                        <a href="{{ path('app_login') }}">
                            → Se connecter
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <a href="{{ path('app_home') }}" class="home">
        <img src="{{ asset('img/logo.png') }}" alt="accueil" title="Retour à l'accueil">
    </a>
</header>

<main>
    <div class="loader" id="loader">
        <div class="spinner"></div>
        <p>Chargement...</p>
    </div>

    <div class="loading-content" id="loadingContent">
        {% block body %}{% endblock %}
    </div>
</main>

<script src="{{ asset('js/clients_pros.js') }}" type="module"></script>
<script src="{{ asset('js/salaries_list.js') }}" type="module"></script>
<script src="{{ asset('js/loader.js') }}"></script>
</body>
</html>
