{% extends 'base.html.twig' %}

{% block title %}Hello ImportCsvController!{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/forms/import.css') }}">
{% endblock %}

{% block body %}
    <div class="import-wrapper">
        <img src="{{ asset('img/logo.png') }}" alt="logo cts">

        <h1>Import de fichier csv</h1>

        {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
        {{ form_end(form) }}
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if errors is not empty %}
        <div class="import-errors">
            <h3>Erreurs détectées</h3>
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
